*{
    padding: 0px;
    margin: 0px;
    
}
.background {
    background-color: rgba(0, 0, 0, 0.923);
}
.img img{
    height: 570px;
    width: 300px;
    
    
    
}

@media only screen and (max-width: 600px){
	/*Big smartphones [426px -> 600px]*/
    *{
        padding: 0px;
        margin: 0px;
    }
    .img img{
        height: 560px;
        width: 190px;
        transition: 2s;
        
        
    }
    
}

.option2 p a{
    font-weight: bold;
      
    color: white;
    text-decoration: none;
}

.option2 p a:hover{
    color: rgb(255, 0, 0);
}
.option2 p a:active{
    color: rgba(255, 0, 0, 0.734);
}
.port img{
    height: 120px;
    width: 120px;
}
.parent{
    height: 20vh;
}
.parent2{
    height: 80vh;
}
.port2 h1{
   font-size: 55px;
    color: red;
}
.intro h1{
   
    color:white;
    padding-bottom: 10px;;
    font-size: 35px;
}
.intro h1 strong{
  font-size: 50px;
}
.name{
    color: rgba(255, 0, 0, 0.885);
    font-weight: bold;
    font-style: oblique 18deg;
    box-shadow: 2px 2px 2px 1px rgba(223, 23, 23, 0.2);
  
}
.intro h5{
    color: rgba(255, 255, 255, 0.596);
    letter-spacing: 10px;
     
}
.intro p{
    color: white;
   
    padding-bottom: 10px;
}
.intro a{
    background-color: red;
    color: white;
    text-decoration: none;
    padding-left: 13px;
    border-radius: 2px;
    padding-top: 7px;
    padding-right: 15px;
    padding-bottom: 10px;
    
}
.intro a:hover{
    background-color: white;
    color: black;
    
}
.intro a:active{
    background-color: rgba(255, 255, 255, 0.612);
    color: rgba(0, 0, 0, 0.628);
    
}
.row a img{
    height: 200px;
    width: 200px;   
   
}
@media only screen and (max-width: 600px){
	/*Big smartphones [426px -> 600px]*/
    .row a img{
        height: 150px;
        width: 100px;
        

    }
}

.wrapper-qr2 p{
   font-size: 15px;
   font-weight: bold;
}
.gmail{
    text-decoration: none;
    color: black;
}
.wrapper-contact{
    background-color: rgba(0, 0, 0, 0.923);
    color: white;
}
