*{
    padding: 0px;
    margin: 0px;
    
}
.background {
    background-color: rgba(0, 0, 0, 0.923);
}
.img img{
    height: 479px;
    width: 290px;
    transition: 2s;
    
    
}
.img img:hover{
    height: 489px;
    width: 300px;
    transition: 1s;
}
@media only screen and (max-width: 600px){
	/*Big smartphones [426px -> 600px]*/
    .img img{
        height: 379px;
        width: 190px;
        transition: 2s;
        
        
    }
    .img img:hover{
        height: 382px;
        width: 192px;
        transition: 1s;
    }
}

.option2 p{
    font-weight: bold;
    font-size: clamp(0.5rem, -0.125rem + 2vw, 1rem);    
    color: white;

}

.option2 p:hover{
    color: rgb(255, 0, 0);
}
.port img{
    height: 120px;
    width: 120px;
}
.parent{
    height: 25vh;
}
.parent2{
    height: 75vh;
}
.port2 h1{
    font-size: clamp(1.5rem, -0.5313rem + 6.5vw, 3.125rem);
    color: red;
}
.intro h1{
    font-size: clamp(1.5rem, 0.25rem + 4vw, 2.5rem);
    color:white;
}
.intro h1 strong{
    font-size: clamp(1.5rem, 0.25rem + 4vw, 2.5rem);
}
.name{
    color: rgba(255, 0, 0, 0.885);
    font-weight: bold;
    font-style: oblique 18deg;
    box-shadow: 2px 2px 2px 1px rgba(223, 23, 23, 0.2);
}
.intro h5{
    color: rgba(255, 255, 255, 0.596);
    letter-spacing: 10px;
    font-size: clamp(0.5rem, -0.2813rem + 2.5vw, 1.125rem);    
}
.intro p{
    color: white;
    font-size: clamp(0.5rem, -0.2813rem + 2.5vw, 1.125rem);
    margin-bottom: 10px;
}
.intro a{
    background-color: red;
    color: white;
    text-decoration: none;
    padding-left: 5px;
    border-radius: 2px;
    padding-top: 5px;
    padding-right: 8px;
    padding-bottom: 5px;
    
}